
domain_name = "foobar.example.com."  # keep ending period
aws_route53_hosted_zone_id = "Z2FSA000J43J"
aws_access_key_id = "AKIAASJS00000000SJDFOIJ"
aws_secret_access_key = "Vdpjsf8j349s0000000f4984fjsdf"
